body {

    background-color: red;
}

#container {
    position: absolute;
    background-color: white;
    width: 60%;
    left: 20%;
    height: 80%;
    justify-content: center;
    text-align: center;
}

#top_bar {

    background-color: gold;
    color: blue;
    display: flex;
    justify-content: center;
    width: 100%;
}

.Main_Page {
    justify-content: center;
    color: rgb(124, 15, 37);
    font-weight: 600;
    text-align: center;
}

#xhaka {
    width: 100%;
}

#arsenal {
    height: 90%;
}