<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'homereal.css' %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   
    <div id="container">
        <div id="top_bar"><h1>Come On Ya Gunners</h1></div>
        
        <div class="Main_Page">
            <h1>Poistions</h1>
            <a href="{% url 'addMajor' %}" class="button"><button>+Add Positions</button></a>
            <ul>
                {% for major in majors %}
                <div>
                    <li>
                        <span class="bold">{{ major.name }}</span>
                        <a href="{% url 'editMajor' major.pk %}" class="button"><button>Edit</button></a>
                        <a href="{% url 'deleteMajor' major.pk %}" class="button"><button>Delete</button></a>
                        <a href="{% url 'MajorDetail' major.pk %}" class="button"><button>Players List</button></a>
                    </li>
                </div>
                {% endfor %}
            </ul>
        </div>
        <div class="Main_Page">
            <h1>Squad Players</h1>
            <a href="{% url 'addSubject' %}" class="button"><button>+Add Players</button></a>
            <ol>
                {% for subject in subjects %}
                <div>
                    <br>
                    <li>
                        
                        <span class="bold">Player Name: {{ subject.subject_name }}</span>
                        <br>
                        <span>Position: {{ subject.major }}</span>
                        <br>
                        <span>Back NO: {{ subject.prof_name }}</span>
                        <br>
                        <span>Preffered Foot: {{subject.memo}}</span>
                        <br>
                    <a href="{% url 'editSubject' subject.pk %}" class="button"><button>Edit</button></a>
                    <a href="{% url 'deleteSubject' subject.pk %}" class="button"><button>Delete</button></a>
                    </br>
                    </li>
                </div>

                {% endfor %}
            </ol>
        </div>
        <div><img id="xhaka" src="https://i.pinimg.com/originals/36/28/67/36286709f9c3c3140b589480c9957c4d.jpg"></div>
    </div>    
</body>
</html>