<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>선수 등록하기</h1>
    <form action="" method="post">
        {% csrf_token %}
        <div>
            <label for="name">Name:</label>
            <input type="text" name="name" id="name" placeholder="Player Name">
        </div>
        <div>
            <label for="backnumber">Backnumber:</label>
            <input type="number" name="backnumber" id="backnumber">
        </div>
        <div>
            <label for="position">Position:</label>
            <select name="position" id="position">
        </div>
        <div>
            <label for="position">Position:</label>
            <input type="text" name="position" id="position">
        </div>
        <div>
            <label for="age">Age:</label>
            <input type="number" name="age" id="age">
        </div>
        <div>
            <label for="nationality">Nationality:</label>
            <input type="text" name="nationality" id="nationality">
        </div>
        <div>
            <label for="foot">Preffered Foot:</label>
            <input type="text" name="foot" id="foot">
        </div>
        <button type="submit">명단에 추가</button>
    </form>
    
</body>
</html>



<!-- 
<form action="" method="post">
{%	csrf_token %}
<div>
<label for="title">제목</label>
<input type="text" name="title" id="title" placeholder="제목을 입력해주세요.">
</div>
<div>
<label for="content">내용</label>
<textarea name="content" id="content" cols="30" rows="10" placeholder="내용을 입력해주세요."></textarea>
</div>
<button type="submit">작성하기</button>
</form> 
-->