body {
    background-color: beige;
    
    justify-content: space-evenly;
    align-items: center;
}


.Top_Bar {
    color: palevioletred;
    background-color: white;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    
    height: 15%;
    width: 40%;
    border-style: solid;
    border-color: brown;
    border: 4%;
    font-size: xx-large;
    font-weight: 600;
    left: 30%;
}

.Main {
    position: absolute;
    width: 60%;
    height: 60%;
    background-color: white;
    left: 20%;
    top: 20%;
    display: block;
    justify-content: center;
    align-items: center;
}

#ccoo {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    background:#1AAB8A;
    color:#fff;
    border:none;
    position:relative;
    height:60px;
    font-size:1.6em;
    padding:0 2em;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
}