<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'homereal.css' %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   
    <div id="container">
        <div id="top_bar"><h1>나만의 블로그를 만들어보자</h1></div>
        
        <div class="Main_Page">
            <h1>카테고리입니다</h1>
            <a href="{% url 'addMajor' %}" class="button"><button>+Add Positions</button></a>
            
                {% for major in majors %}
                <div>
                    
                        <span class="bold">{{ major.name }}</span>
                        <a href="{% url 'editMajor' major.pk %}" class="button"><button>수정</button></a>
                        <a href="{% url 'deleteMajor' major.pk %}" class="button"><button>삭제</button></a>
                        <a href="{% url 'MajorDetail' major.pk %}" class="button"><button>명단 리스트</button></a>
                    
                </div>
                {% endfor %}
            
        </div>
        <div class="Main_Page">
            <h1>명단입니다</h1>
            <a href="{% url 'addSubject' %}" class="button"><button>+Add Players</button></a>
            
                {% for subject in subjects %}
                <div>
                    <br>
                    
                        
                        <span class="bold">Player Name: {{ subject.subject_name }}</span>
                        <br>
                        <span>Position: {{ subject.major }}</span>
                        <br>
                        <span>Back NO: {{ subject.prof_name }}</span>
                        <br>
                        <span>Preffered Foot: {{subject.memo}}</span>
                        <br>
                    <a href="{% url 'editSubject' subject.pk %}" class="button"><button>수정</button></a>
                    <a href="{% url 'deleteSubject' subject.pk %}" class="button"><button>삭제</button></a>
                    </br>
                    
                </div>

                {% endfor %}
            
        </div>
           
</body>
</html>