<!DOCTYPE html>
<html lang="en">
<head>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'count.css' %}"
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <div class="arse">
    <h1 id="qq">아스날 선수 이름을 입력해보세요</h1>
    <form action="{% url 'result' %}" method="post">{% csrf_token %}
        <textarea name="text" cols="30" rows="10"></textarea>
        <br />
        <input type="submit" value="확인" />
    </form>
    </div>
</body>
</html>