body {

    background-color: yellow;
}

#container {
    position: relative;
    background-color: yellow;
    width: 60%;
    left: 20%;
    height: 80%;
    justify-content: center;
}

#top_bar {

    background-color: rgb(24, 27, 28);
    color: orangered;
    display: flex;
    justify-content: center;
    width: 100%;
}

.Main_Page {
    justify-content: center;
   
}

#xhaka {
    width: 100%;
}
/* 모든 전공을 first-div 로 id를 입히고, 전공 추가하기 버튼 꾸미기, & 전공 list 보여주기 */
